### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file = os.path.join('Resources', 'purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
file_df = pd.read_csv(file)
file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players = len(file_df["SN"].value_counts())
display(total_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Number of Unique Items, Average Price, Total Purchases and Total Revenue
unique = len((file_df["SN"]).unique())
average = file_df["Price"].mean()
total_purchases = file_df["Price"].count()
total_revenue = file_df["Price"].sum()

#Create Summary Table from calculated values above
summary_df = pd.DataFrame ({"Number of Unique Items": [unique],
                           "Average Purchase Price": [average],
                           "Total Number of Purchases": [total_purchases],
                           "Total Revenue": [total_revenue]})

#Format numbers in DF to include currencies in the average 
#price and revenue columns
summary_df["Average Purchase Price"] = summary_df["Average Purchase Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
display(summary_df)

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,576,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [58]:
#Sort DataFrame by Genders and store it as gender
gender_df = file_df.groupby("Gender")

#Count the total of "SN" by gender
total_count_gender = gender_df["SN"].nunique()

#Percentage of players
percentage_players = (total_count_gender / total_players) * 100

#Gender Summary dataframe"Percentage of Players"
summary_gender_df = pd.DataFrame({"Percentage of Players":percentage_players,
                                  "Total Count":total_count_gender})

#format percentage of players to have two decimal places and sort values in descending order
summary_gender_df["Percentage of Players"]= summary_gender_df["Percentage of Players"].map("{:.2f}%".format)
summary_gender_df = summary_gender_df.sort_values("Total Count", ascending = False)

summary_gender_df

                      Percentage of Players  Total Count
Gender
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [69]:
#Calculate Purchase Count, average purchase price,
purchase_count = gender_df["Age"].count()
average_purchase = gender_df["Price"].mean()
total_purchase_value = gender_df["Price"].sum()
average_purchase_person = total_purchase_value / total_count_gender

#Create a Summary DF for Purchasing Analysis
summary_purchase_df = pd.DataFrame({"Purchase Count" : purchase_count, 
                        "Average Purchase Price" : average_purchase,
                       "Total Purchase Value" : total_purchase_value,
                       "Average Purchase Price Per Person" : average_purchase_person})

summary_purchase_df["Average Purchase Price"] = summary_purchase_df["Average Purchase Price"].map("${:,.2f}".format)
summary_purchase_df["Average Purchase Price Per Person"] = summary_purchase_df["Average Purchase Price Per Person"].map("${:,.2f}".format)
summary_purchase_df["Total Purchase Value"] = summary_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
summary_purchase_df = summary_purchase_df.sort_values("Purchase Count", ascending = False)

summary_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Price Per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame